/* === ESTILOS GENERALES === */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* === NUEVA TAREA === */
.new-todo form {
  display: flex;
  gap: 10px;
}

#todo-input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#add-btn {
  padding: 10px 20px;
  background: #DA70D6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-btn:hover {
  background: #DA70D6;
}

/* === FILTROS === */
.filters {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-btn {
  padding: 6px 12px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
}

.filter-btn.active {
  background: #DA70D6;
  color: white;
}

#clear-completed {
  padding: 6px 12px;
  background: #6751B8;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* === LISTA === */
.todo-list ul {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 8px;
}

.todo-text.completed {
  text-decoration: line-through;
  color: gray;
}

.actions button {
  margin-left: 5px;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.edit-btn {
  background: #B851A2;
  color: black;
}

.delete-btn {
  background: #6751B8;
  color: white;
}

/* === MODAL === */
.modal.hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal-actions button {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
}
